/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#animate {
  position: absolute;
  left: 0px;
  top: 0px;
  height:100%;
  width:100%;
  z-index:1000;
  background-color:black;
  opacity:0.6;
}
